
.table-bordered{
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	background-color: #F0F8FF;
}

.table-bordered td{
	max-width: 150px;
	word-wrap: break-word;
	border: 1px solid #49afcd;
	padding: 3px 7px 2px 7px;
}

.table-bordered th{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #49afcd;
	color: #ffffff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.table-bordered tr.alt {
	background-color: white;
}

.btn {
	font-weight: bold;
	color: #49afcd;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.welcome{
	font-size: 17px;
	color: #49afcd;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}



.confirminstruct {
margin-top: 50px;
text-align: center;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.confirmthanks {
text-align: center;
font-size: 27px;
font-weight: bold;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
margin-top: 50px;

}

